.navbar{
    background-color: #4285f4;
}
.headerButton{
    border:none;
    background-color: #4285f4;
}

.top-pad{
    margin-top: 75px;
}

a{
    text-decoration: none;
}
a:link {
     text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.cross-float{
    float: right;
    display: inline;
}
.width-18{
    width: 18rem;
    padding-top: 50px;
}

li.active{
    color: yellow;
}

.wbdv-no-list-marker{
    list-style-type: none;
    margin: 0;
    padding: 0;

}